# Build #
*.7z
*.bz2
*.dll
*.gz
*.pbd
*.rar
*.tar
*.wim
*.xz
*.zip
#.build/
.build/**/*.pex
.build/(old)/
.build/old/
.build/papyrus/
.build/release/
#build/
build/**/*.pex
build/(old)/
build/old/
build/papyrus/
build/release/
#dist/**/scripts/*.pex

# Custom #
{PluginNameShort}_MCM.pex
ExampleScript.pex

# Dependencies #

# Ideas #
#.idea/
.idea/(old)/
.idea/closed/
.idea/hidden/
.idea/ignore/
.idea/licensed/
.idea/old/
.idea/private/
.idea/secret/
#idea/
idea/(old)/
idea/closed/
idea/hidden/
idea/ignore/
idea/licensed/
idea/old/
idea/private
idea/secret/

# OS Files #
**/._.DS_Store
**/._.DS_Store*
**/.DS_Store
**/.DS_Store*
*.cab
*.DS_Store
*.DS_Store*
*.exe
*.lnk
*.msi
*.msix
*.msm
*.msp
*.stackdump
._*
._.DS_Store
._.DS_Store*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.directory
.DocumentRevisions-V100
.DS_Store
.DS_Store*
.fseventsd
.fuse_hidden*
.LSOverride
.nfs*
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
$RECYCLE.BIN/
[Dd]esktop.ini
ehthumbs.db
ehthumbs_vista.db
Network Trash Folder
Temporary Items
Thumbs.db
Thumbs.db:encryptable
