.build/*.7z
.build/*.rar
.build/*.zip
.build/(old)/*.7z
.build/(old)/*.rar
.build/(old)/*.zip
.build/old/*.7z
.build/old/*.rar
.build/old/*.zip
.idea/(old)/
.idea/closed/
.idea/hidden/
.idea/licensed/
.idea/old/
.idea/secret/
.release/
build/*.7z
build/*.rar
build/*.zip
build/(old)/*.7z
build/(old)/*.rar
build/(old)/*.zip
build/old/*.7z
build/old/*.rar
build/old/*.zip
release/
